
<div class="main__content-tool container d-flex justify-content-between align-items-center p-0">
    <div class="fw-500" style="font-size: 24px;">Sản Phẩm Bán Chạy</div>
    <div class="tool-counting d-flex align-items-center">
        <div class="counting-result pe-3">9 sản phẩm</div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                BÁN CHẠY
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Xếp hạng</a></li>
                <li><a class="dropdown-item" href="#">Giá (Thấp đến Cao)</a></li>
                <li><a class="dropdown-item" href="#">Giá (Cao đến Thấp)</a></li>
            </ul>
        </div>
    </div>
</div>

