@{
    ViewData["Title"] = "Xác thực thành công";
}

<h1>Xác thực thành công</h1>
<p>Tài khoản của bạn đã được xác thực thành công. Bạn có thể <a asp-action="Login" asp-controller="Account">Dăng nhập</a> ngay bây giờ.</p>
