@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}
@model ForgotPasswordViewModel

<link rel="stylesheet" href="@Url.Content("~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css")">
<link rel="stylesheet" href="@Url.Content("~/css/style.css")">

<div class="wrapper" style="background-image: url('~/images/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/registration-form-1.jpg" alt="Hinh">
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div class="form-wrapper">
                <input asp-for="Email" class="form-control" placeholder="Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit">Gửi yêu cầu đặt lại mật khẩu</button>
        </form>
    </div>
</div>