@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}
@model ResetPasswordViewModel

<link rel="stylesheet" href="@Url.Content("~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css")">
<link rel="stylesheet" href="@Url.Content("~/css/style.css")">

<div class="wrapper" style="background-image: url('~/images/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/registration-form-1.jpg" alt="Hinh">
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="ResetPassword">
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <div class="form-wrapper">
                <input asp-for="Password" class="form-control" placeholder="Mật khẩu mới" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-wrapper">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu mới" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit">Đặt lại mật khẩu</button>
        </form>
    </div>
</div>