@{
    ViewData["Title"] = "Privacy Policy";
}
﻿@{
}

<div class="container pt-5 pb-5">
    <h2 class="font-serif pb-5">
        Giỏ Hàng Của Bạn (<span id="cart-count">0</span>)
    </h2>
    <div class="paying__content row">
        <div class="paying__content-left col-8">
            <div class="cart-items row-cols-1">
                 <div class="cart-item col d-flex p-3 border-top border-1">
                <img src="~/img/sanpham2.png" style="width: 150px; height: 150px;" />
                <div class="cart-detail ps-2 w-100 text-start">
                <h4 class="font-serif w-75">Sữa Rửa Mặt Hoa Cúc Kiehl's Calendula Deep Cleansing Foaming Face Wash</h4>
                <div class="d-flex justify-content-between align-items-center">
                <div class="quantity">
                <label for="dropdownMenu1" class="font-12 me-2">Chọn số lượng:</label>
                <input style="width: 162px; padding: 6px 12px 6px 12px; border: 1px solid #ced4da;"
                type="number" id="quantityInput" value="1" min="1" max="10" data-price="550000">
                </div>
                <div class="font-16 text-center fw-500">
                <span id="priceDisplay">550,000đ</span>
                </div>
                </div>
                <div class="form-group d-flex align-items-center mt-2">
                <label for="dropdownMenu1" class="font-12 me-2">Chọn dung tích:</label>
                <select id="dropdownMenu1" class="dropdownMenu form-control w-25 rounded-0">
                <option value="75ml" data-price="550000" data-size="75ml" selected>75ml</option>
                <option value="230ml" data-price="1000000" data-size="230ml">230ml</option>
                <option value="500ml" data-price="1800000" data-size="500ml">500ml</option>
                </select>
                </div>
                </div>
                <button class="close-cart border-0 bg-white" style="height: fit-content; margin-top: -16px;">
                <i class="fa-solid fa-xmark" style="font-size: 12px;" aria-hidden="true"></i>
                </button>
                </div> 
            </div>
        </div>
        <div class="paying__content-right bg-secondary bg-opacity-25 col-4 p-3">
            <div class="d-flex justify-content-between mb-2">
                <div class="title opacity-75 fw-500">Tạm tính</div>
                <div class="provisional-price fw-500"></div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div class="title opacity-75 fw-500">Phí ship</div>
                <div class="shipping-fee fw-500"></div>
            </div>
            <div class="content-discount bg-white p-3">
                <div class="fw-500 font-14 mb-2">Mã khuyến mãi</div>
                <div class="input-group d-flex">
                    <input type="text" class="form-control rounded-0" placeholder="Nhập mã khuyến mãi của bạn" aria-describedby="button-addon2">
                    <button class="btn btn-outline-dark rounded-0" type="button" id="button-addon2">ÁP DỤNG</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="title opacity-75 fw-500">Tổng</div>
                <div class="final-price fw-500"></div>
            </div>
            <form action="@Url.Action("Paying", "Home")" method="get">
                <button type="submit" class="col-12 btn btn-outline-dark fw-bold rounded-0 mt-3 mb-3">TIẾN HÀNH THANH TOÁN</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cartItems = document.querySelector('.cart-items');
        const provisionalPriceDisplay = document.querySelector('.provisional-price'); //Giá tạm tính
        const finalPriceDisplay = document.querySelector('.final-price'); //Giá cuối (giá phải thanh toán)
        const shippingFeeDisplay = document.querySelector('.shipping-fee');
        const cartCountDisplay = document.querySelector('#cart-count'); //Sl sp
        const shippingFee = 30000;
        let cart = JSON.parse(localStorage.getItem('cart')) || [];

        let totalPrice = 0;
        let totalItems = 0;

        //Hiển thị sản phẩm
        cart.forEach((item, index) => {
            const cartItem = document.createElement('div');
            cartItem.className = 'cart-item col d-flex p-3 border-top border-1';
            cartItem.innerHTML = `
                    <img src="${item.imageUrl}" style="width: 150px; height: 150px;" />
                    <div class="cart-detail ps-2 w-100 text-start">
                        <h4 class="font-serif w-75">${item.name}</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="quantity">
                                <label for="quantityInput-${index}" class="font-12 me-2">Chọn số lượng:</label>
                                <input style="width: 162px; padding: 6px 12px; border: 1px solid #ced4da;"
                                       type="number" id="quantityInput-${index}" value="${item.quantity}" min="1" max="10" data-price="${item.price}">
                            </div>
                            <div class="font-16 text-center fw-500">
                                <span id="priceDisplay-${index}">${(item.price * item.quantity).toLocaleString('vi-VN')}đ</span>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center mt-2">
                            <label for="dropdownMenu-${index}" class="font-12 me-2">Chọn dung tích:</label>
                            <select id="dropdownMenu-${index}" class="dropdownMenu form-control w-25 rounded-0">
                                <option value="75ml" data-price="550000" ${item.size === '75ml' ? 'selected' : ''}>75ml</option>
                                <option value="230ml" data-price="1000000" ${item.size === '230ml' ? 'selected' : ''}>230ml</option>
                                <option value="500ml" data-price="1800000" ${item.size === '500ml' ? 'selected' : ''}>500ml</option>
                            </select>
                        </div>
                    </div>
                    <button class="close-cart border-0 bg-white" style="height: fit-content; margin-top: -16px;" data-index="${index}">
                        <i class="fa-solid fa-xmark" style="font-size: 12px;" aria-hidden="true"></i>
                    </button>
                `;

            cartItems.appendChild(cartItem);

            totalPrice += item.price * item.quantity;
            totalItems += parseInt(item.quantity);//Tổng sl sp trong giỏ


            //Thay đổi số lượng sản phẩm
            document.querySelector(`#quantityInput-${index}`).addEventListener('input', function () {
                const newQuantity = this.value;
                const price = this.getAttribute('data-price');
                const newTotalPrice = newQuantity * price;

                document.querySelector(`#priceDisplay-${index}`).textContent = `${newTotalPrice.toLocaleString('vi-VN')}đ`;

                cart[index].quantity = newQuantity;
                localStorage.setItem('cart', JSON.stringify(cart));

                // Cập nhật tổng số lượng và giá sau khi thay đổi
                updateTotalPrice();

                // In ra số lượng sản phẩm sau khi sửa đổi
                console.log(`Số lượng sản phẩm sau khi sửa đổi: ${newQuantity}`);
            });

            //Thay đổi dung tích
            document.querySelector(`#dropdownMenu-${index}`).addEventListener('change', function () {
                const newSize = this.options[this.selectedIndex].value;
                const newPrice = this.options[this.selectedIndex].getAttribute('data-price');
                const quantity = cart[index].quantity;
                const newTotalPrice = newPrice * quantity;

                cart[index].size = newSize;
                cart[index].price = newPrice;

                document.querySelector(`#priceDisplay-${index}`).textContent = `${newTotalPrice.toLocaleString('vi-VN')}đ`;

                localStorage.setItem('cart', JSON.stringify(cart));
                updateTotalPrice(); // Cập nhật tổng giá trị mỗi khi thay đổi dung tích
            });

            //Xóa sản phẩm
            document.querySelector(`.close-cart[data-index="${index}"]`).addEventListener('click', function () {
                cart.splice(index, 1);
                localStorage.setItem('cart', JSON.stringify(cart));
                location.reload();
            });
        });

        //Cập nhật giá
        shippingFeeDisplay.textContent = `${shippingFee.toLocaleString('vi-VN')} đ`
        provisionalPriceDisplay.textContent = `${totalPrice.toLocaleString('vi-VN')} đ`;
        finalPriceDisplay.textContent = `${(totalPrice + shippingFee).toLocaleString('vi-VN')} đ`;

        cartCountDisplay.textContent = totalItems;


        //Cập nhật tổng giá từng sp khi có thay đổi
        function updateTotalPrice() {
            let updatedTotalPrice = 0;
            totalItems = 0;
            cart.forEach((item) => {
                updatedTotalPrice += item.price * item.quantity;
                totalItems += parseInt(item.quantity);
            });

            provisionalPriceDisplay.textContent = `${updatedTotalPrice.toLocaleString('vi-VN')} đ`;
            finalPriceDisplay.textContent = `${(updatedTotalPrice + shippingFee).toLocaleString('vi-VN')} đ`;

            cartCountDisplay.textContent = totalItems;

            // In ra tổng số sản phẩm sau khi cập nhật
            console.log(`Tổng số sản phẩm trong giỏ hàng: ${totalItems}`);
        }
    });
</script>