@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Cảm ơn bạn đã thanh toán!</h2>
<p>Chúng tôi sẽ sớm xử lý đơn hàng của bạn.</p>
